.petListItem {
  padding: 10px;
  border: solid 1px transparent;
}

.petListItem:hover {
  background-color: #eeeeee;
  border-color: #aaaaaa;
  cursor: pointer;
}

.petListItem p {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.petControls {
  margin: 10px 0 10px 0;
}

.petControls button {
  margin-left: 10px;
}

.Pet-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}