.register-container{
  display: flex;
  justify-content: center;
}

.register{
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.register * {
  display: flex;
  justify-content: center;
}